@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
:root {
  --color-chocolate: #8B4513;
  --color-text: #373737;
  --color-silver: #D5D6D8;
}

body {
  font-family: sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

.banner {
  border-radius: 5px;
  padding: 50px 0;
  height: 350px;
  background: url("../img/photo-cake5_1.png") 50% no-repeat;
  background-size: cover;
}

.welcom_h2 {
  display: none;
}

.h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  color: var(--color-text, black);
}

.h1::after {
  content: "";
  display: block;
  border: 2px solid var(--color-chocolate, brown);
  width: 300px;
  height: 0;
  margin: 1rem auto 0;
  border-radius: 50%;
}

.h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 130%;
  color: var(--color-text, black);
}

.font {
  display: flex;
  justify-content: center;
  font-family: "Allison", cursive;
  font-weight: 700;
  font-size: 55px;
  line-height: 100%;
  color: var(--color-chocolate, brown);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-chocolate, brown);
}

.navbar-light .navbar-nav .nav-link:hover {
  display: block;
  transform: scale(1.2);
  transition: all 0.4s;
}

@media screen and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1);
  }
}
.news {
  margin-bottom: 2rem;
}

.picture {
  border-radius: 5px;
  height: 250px;
  background: url("../img/photo-cake4.png") 50% no-repeat;
  background-size: cover;
}

.picture2 {
  border-radius: 5px;
  height: 250px;
  background: url("../img/photo-cake6.png") 50% no-repeat;
  background-size: cover;
}

.proFile {
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text, black);
}

.proFile2 {
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text, black);
}

@media screen and (max-width: 768px) {
  .picture2 {
    order: 1;
  }

  .proFile2 {
    order: 2;
  }
}
.slider_ourProduct {
  border-radius: 5px;
  background: var(--color-silver, silver);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slider {
  position: relative;
  min-width: 0;
  padding: 0 50px;
}

.slider_item {
  text-align: center;
}

/* Стрелка */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  border: none;
  width: 30px;
  height: 100px;
  margin: -50px 0 0 0;
}

/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/left.svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right.svg") 0 0/100% no-repeat;
}

.about-us {
  border-radius: 5px;
  background: url("../img/lazarescu-alexandra-AZJrf0D6Vvo-unsplash.jpg") 50% no-repeat fixed;
  background-size: cover;
  margin-bottom: 2rem;
}

.textColor {
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text, black);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  background: #331F18;
  border-radius: 5px;
}

.history {
  border-radius: 5px;
  height: 300px;
  background: url("../img/history.jpg") 50% no-repeat;
  background-size: cover;
  margin: auto 0;
}

.registration {
  margin-bottom: 2rem;
}

.registration_h3 {
  display: none;
}

.border-color {
  border: 1px solid var(--color-chocolate, brown);
}

.btn-color {
  color: #FFFFFF;
  background: var(--color-chocolate, brown);
}

.element-animation {
  max-width: 250px;
  height: auto;
  opacity: 0;
  transition: all 2.5s ease;
}

.element-animation img {
  width: 100%;
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(250px);
}

.footer {
  background: var(--color-silver, silver);
  min-height: 150px;
  border-radius: 5px;
}

.footer__h4 {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: var(--color-text, black);
}

.footer__text {
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text, black);
}

.footer__imges ul li {
  list-style: none;
}

.footer__imges ul {
  display: flex;
  padding-left: 0;
}

.footer__imges ul li:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.footer__imges ul li:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}